@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --blue: #1074eb;
  --orange: #f90;
  --red: #e92626;
  --black: #383838;
  --gray-strong: #9c9c9c;
  --light-gray: #f7f7f7;
  --white: #fff;
  --gray: #c9c9c9;
}

:root {
  --font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header_top {
  padding: 56px 0 15px 0;
  border-bottom: 2px solid var(--gray);
}

.header_top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_btn {
  background: var(--blue);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: none;
  background-position: center;
  background-image: url(../img/header_btn.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_top_desktop_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.header_top_desktop_mid {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header_top_desktop_mid_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.top_sec {
  color: var(--gray-strong);
}

.header_top_desktop_list {
  display: none;
  gap: 30px;
}

.header_middle {
  padding: 16px 0;
}

.header_mid_logo {
  display: none;
}

.header_mid_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_mid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.header_mid_item::before {
  content: "";
  background-image: url(../img/email.svg);
  width: 16px;
  height: 14px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_mid_item_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.header_middle_input_block {
  display: none;
}

.header_input_btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  background: var(--blue);
  border-radius: 3px;
  border: none;
  padding: 5px 10px 5px 10px;
}

.header_middle_input {
  padding: 9px 0 9px 10px;
  width: 292px;
  border: 1px solid var(--gray);
  border-radius: 3px;
}

.header_media_list {
  display: none;
}

.header_buy_btn {
  display: none;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  background: var(--orange);
  border-radius: 3px;
  border: none;
  padding: 10px 15px;
}

.header_personal {
  display: none;
  border-radius: 3px;
  width: 37px;
  height: 37px;
  background: var(--blue);
}

.header_bottom_input {
  padding: 10px 0 10px 16px;
  width: 100%;
  border-radius: 3px;
  background: var(--light-gray);
  border: none;
}

.header_bottom_input_block {
  position: relative;
}

.header_bottom_input_block::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(../img/header_bottom_search.svg);
  right: 16px;
  top: 5px;
}

.header_bottom_nav {
  display: none;
}

.header_bottom_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.header_bottom_menu {
  background: var(--blue);
  border-radius: 3px;
  padding: 18px 20px 18px 15px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header_bottom_menu::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/menu.svg);
  width: 25px;
  height: 25px;
  display: inline-block;
}

.qweq {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#383838), to(rgba(56, 56, 56, 0)));
  background: linear-gradient(90deg, #383838 0%, rgba(56, 56, 56, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .header_top {
    padding: 12px 0;
    background: var(--light-gray);
    border-bottom: none;
  }
  .header_top_img_block {
    display: none;
  }
  .header_top_desktop_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_btn {
    display: none;
  }
  .header_item_top_des {
    display: none;
  }
  .header_top_desktop_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .header_top_desktop_mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_middle_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_mid_item::before {
    content: "";
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
  }
  .header_mid_item_link {
    font-weight: 600;
    font-size: 21px;
    color: var(--black);
    display: none;
    white-space: nowrap;
  }
  .header_mid_logo {
    display: block;
  }
  .email {
    display: none;
  }
  .header_middle_input_block {
    display: block;
    position: relative;
  }
  .header_input_btn {
    position: absolute;
    right: 5px;
    top: 3px;
  }
  .header_media_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    white-space: nowrap;
  }
  .header_buy_btn {
    display: block;
    white-space: nowrap;
  }
  .header_personal {
    display: inline-block;
    background-image: url(../../img/header_personal.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .header_mid_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_media_list {
    display: none;
  }
  .header_bottom_input {
    display: none;
  }
  .header_bottom_input_block::after {
    display: none;
  }
  .header_bottom_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: var(--light-gray);
  }
  .header_bottom_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 23px;
  }
  .header_bottom_last_1 {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header_mid_item_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_mid_item::before {
    content: "";
    width: 16px;
    height: 14px;
  }
  .header_media_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_bottom_last_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .qweq {
    white-space: nowrap;
  }
}
.hero {
  padding: 32px 0;
}

.hero_block {
  background-image: url(../img/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 32px 0 16px 0;
  margin-bottom: 16px;
}

.hero_des {
  text-align: center;
}

.hero_btn_block {
  margin-bottom: 56px;
}

.hero_title {
  margin-bottom: 24px;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 48px;
  color: var(--black);
}

.hero_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--gray-strong);
}

.hero_btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  padding: 16px 70px;
  background: var(--blue);
  border: none;
  border-radius: 3px;
}

.hero_left_btn {
  background-image: url(../img/hero_left.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  padding: 15px;
  background-color: var(--blue);
  border-radius: 3px;
  border: none;
  width: 51px;
  height: 51px;
}

.hero_btn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero_left_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.hero_right_btn {
  background-image: url(../img/hero_right.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  padding: 15px;
  background-color: var(--blue);
  border-radius: 3px;
  border: none;
  width: 51px;
  height: 51px;
}

.hero_img_desktop {
  display: none;
}

.hero_btn_block_desktop {
  display: none;
}

.hero_img_block {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .hero_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 53px 100px;
  }
  .hero_block {
    background-image: url(../img/hero_bg_desk.svg);
  }
  .hero_des {
    text-align: start;
    width: 325px;
  }
  .hero_title {
    font-weight: 900;
    font-size: 54px;
    margin-bottom: 20px;
  }
  .hero_text {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 51px;
  }
  .hero_btn_block {
    display: none;
  }
  .hero_left_right {
    gap: 10px;
  }
  .hero_btn_block_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .hero_btn {
    width: 185px;
    padding: 18px 50px;
  }
  .hero_left_btn {
    width: 55px;
    height: 55px;
  }
  .hero_right_btn {
    width: 55px;
    height: 55px;
  }
  .hero_img_mb {
    display: none;
  }
  .hero_img_desktop {
    display: block;
  }
}
.serves {
  margin-top: 100px;
}

.serves_tx {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--gray-strong);
  margin-top: 8px;
  text-align: start;
}

.serves_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  margin-top: 4px;
  text-align: start;
}

.serves__tx {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
}

.serves__text {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  text-decoration: line-through;
  color: var(--gray);
}

.server_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 43px;
}

.serves_btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  padding: 16px 19px;
  border-radius: 3px;
  background-color: var(--blue);
  border: none;
}

.serves_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.serves_block {
  display: grid;
  grid-template-columns: repeat(2, 172px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.serves_title {
  padding-bottom: 16px;
}

.serves_tx_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  color: var(--black);
  margin-bottom: 32px;
  text-align: center;
}

.serves_title {
  margin-bottom: 30px;
}

.serves_img {
  display: none;
}

.serves_button {
  padding: 18px 60px;
  border-radius: 3px;
  background-color: var(--blue);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  border: none;
  cursor: pointer;
  margin-top: 30px;
  width: 262px;
}

.serves_row {
  position: relative;
}

.serves_imgs {
  position: absolute;
  content: "";
  top: 48px;
  left: 35px;
}

.serves_row {
  display: none;
}

.service_title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  color: var(--black);
}

.service_title_block {
  margin-bottom: 32px;
}

.service_title_block {
  text-align: center;
}

.service {
  display: none;
}

@media screen and (min-width: 768px) {
  .serves_block {
    grid-template-columns: repeat(3, 200px);
    gap: 100px;
  }
  .serves_title:nth-child(4) {
    display: none;
  }
  .serves_title {
    margin-bottom: 30px;
  }
  .service_left_right_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 10px;
  }
  .service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .service_title_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 1000px) {
  .serves_tx_text {
    display: none;
  }
  .serves_title:nth-child(4) {
    display: block;
  }
  .serves_block {
    grid-template-columns: repeat(4, 262px);
    gap: 30px;
  }
  .serves__text {
    display: none;
  }
  .serves_img {
    display: block;
  }
  .serves_items {
    display: none;
  }
  .serves_row {
    display: block;
  }
}
.fridge_ads {
  padding-top: 56px;
  padding-bottom: 68px;
}

.firdge_ads_block {
  background-color: var(--blue);
  background-repeat: no-repeat;
  width: 100%;
  padding: 179px 67px 50px 19px;
  position: relative;
}

.fridge_ads_title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: var(--white);
  margin-bottom: 47px;
  width: 271px;
}

.hr {
  width: 100px;
  height: 1px;
  background-color: var(--white);
  margin-bottom: 33px;
  margin-left: 0;
}

.fridge_ads_btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--blue);
  background: var(--white);
  border-radius: 3px;
  padding: 16px;
  border: none;
  white-space: nowrap;
}

.firdge_ads_block::before {
  content: "";
  background-image: url(../img/fridge_top.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 243px;
  height: 243px;
  top: -18px;
  left: -19px;
}

.firdge_ads_block::after {
  content: "";
  background-image: url(../img/fridge.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 269px;
  height: 269px;
  right: -100px;
  bottom: -68px;
}

@media screen and (min-width: 768px) {
  .firdge_ads_block {
    background-image: url(../img/fridge.jpg);
    width: 100%;
    padding: 50px;
  }
  .fridge_inner_block {
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .firdge_ads_block::after {
    right: 0;
    top: 18px;
  }
  .firdge_ads_block::before {
    top: 14px;
    right: 81px;
  }
}
@media screen and (min-width: 1000px) {
  .fridge_ads {
    padding: 80px 0 100px 0;
  }
  .firdge_ads_block::after {
    right: 126px;
    top: 18px;
  }
  .firdge_ads_block::before {
    top: 50px;
    left: 81px;
  }
}/*# sourceMappingURL=style.css.map */