@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  --blue: #1074eb;
  --orange: #f90;
  --red: #e92626;
  --black: #383838;
  --gray-strong: #9c9c9c;
  --light-gray: #f7f7f7;
  --white: #fff;
  --gray: #c9c9c9;
}

:root {
  --font-family: "Lato", sans-serif;
}

body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header_top {
  padding: 56px 0 15px 0;
  border-bottom: 2px solid var(--gray);
}

.header_top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_top_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_btn {
  background: var(--blue);
  width: 30px;
  height: 30px;
  border-radius: 3px;
  border: none;
  background-position: center;
  background-image: url(../img/header_btn.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_top_desktop_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.header_top_desktop_mid {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.header_top_desktop_mid_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.top_sec {
  color: var(--gray-strong);
}

.header_top_desktop_list {
  display: none;
  gap: 30px;
}

.header_middle {
  padding: 16px 0;
}

.header_mid_logo {
  display: none;
}

.header_mid_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_mid_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.header_mid_item::before {
  content: "";
  background-image: url(../img/email.svg);
  width: 16px;
  height: 14px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_mid_item_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.header_middle_input_block {
  display: none;
}

.header_input_btn {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
  background: var(--blue);
  border-radius: 3px;
  border: none;
  padding: 5px 10px 5px 10px;
}

.header_middle_input {
  padding: 9px 0 9px 10px;
  width: 292px;
  border: 1px solid var(--gray);
  border-radius: 3px;
}

.header_media_list {
  display: none;
}

.header_buy_btn {
  display: none;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  background: var(--orange);
  border-radius: 3px;
  border: none;
  padding: 10px 15px;
}

.header_personal {
  display: none;
  border-radius: 3px;
  width: 37px;
  height: 37px;
  background: var(--blue);
}

.header_bottom_input {
  padding: 10px 0 10px 16px;
  width: 100%;
  border-radius: 3px;
  background: var(--light-gray);
  border: none;
}

.header_bottom_input_block {
  position: relative;
}

.header_bottom_input_block::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  background-image: url(../img/header_bottom_search.svg);
  right: 16px;
  top: 5px;
}

.header_bottom_nav {
  display: none;
}

.header_bottom_link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
}

.header_bottom_menu {
  background: var(--blue);
  border-radius: 3px;
  padding: 18px 20px 18px 15px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header_bottom_menu::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/menu.svg);
  width: 25px;
  height: 25px;
  display: inline-block;
}

.qweq {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, right top, from(#383838), to(rgba(56, 56, 56, 0)));
  background: linear-gradient(90deg, #383838 0%, rgba(56, 56, 56, 0) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .header_top {
    padding: 12px 0;
    background: var(--light-gray);
    border-bottom: none;
  }
  .header_top_img_block {
    display: none;
  }
  .header_top_desktop_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_btn {
    display: none;
  }
  .header_item_top_des {
    display: none;
  }
  .header_top_desktop_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .header_top_desktop_mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_middle_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header_mid_item::before {
    content: "";
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
  }
  .header_mid_item_link {
    font-weight: 600;
    font-size: 21px;
    color: var(--black);
    display: none;
    white-space: nowrap;
  }
  .header_mid_logo {
    display: block;
  }
  .email {
    display: none;
  }
  .header_middle_input_block {
    display: block;
    position: relative;
  }
  .header_input_btn {
    position: absolute;
    right: 5px;
    top: 3px;
  }
  .header_media_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    white-space: nowrap;
  }
  .header_buy_btn {
    display: block;
    white-space: nowrap;
  }
  .header_personal {
    display: inline-block;
    background-image: url(../../img/header_personal.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  .header_mid_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_media_list {
    display: none;
  }
  .header_bottom_input {
    display: none;
  }
  .header_bottom_input_block::after {
    display: none;
  }
  .header_bottom_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: var(--light-gray);
  }
  .header_bottom_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 23px;
  }
  .header_bottom_last_1 {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .header_mid_item_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_mid_item::before {
    content: "";
    width: 16px;
    height: 14px;
  }
  .header_media_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_bottom_last_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .qweq {
    white-space: nowrap;
  }
}/*# sourceMappingURL=style.css.map */