html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  ul,
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    display: inline-block;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    margin: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  :root {
    --blue: #1074eb;
    --orange: #f90;
    --red: #e92626;
    --black: #383838;
    --gray-strong: #9c9c9c;
    --light-gray: #f7f7f7;
    --white: #fff;
    --gray: #c9c9c9;
  }
  :root {
    --font-family: "Lato", sans-serif;
  }
  body {
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    margin: 0;
   
  }
  
  .container {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }